Node Red Flows/Control the Drone.json
[{"id":"d0bc62bf.08981","type":"tab","label":"Tello Control + Data","disabled":false,"info":""},{"id":"5e186c12.e40824","type":"ui_button","z":"d0bc62bf.08981","name":"","group":"5a41de9d.6f56d","order":2,"width":0,"height":0,"label":"Connect","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":300,"y":460,"wires":[["5329710b.f7ab3"]]},{"id":"5329710b.f7ab3","type":"change","z":"d0bc62bf.08981","name":"Init","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"command","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":480,"wires":[["92fc8d48.253df"]]},{"id":"71c4eafa.7a1de4","type":"inject","z":"d0bc62bf.08981","name":"Connect","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":480,"wires":[["5329710b.f7ab3"]]},{"id":"5dc02afe.fd8094","type":"udp out","z":"d0bc62bf.08981","name":"","addr":"192.168.10.1","iface":"","port":"8889","ipv":"udp4","outport":"52955","base64":false,"multicast":"false","x":590,"y":180,"wires":[]},{"id":"5ab5c6ee.076c28","type":"debug","z":"d0bc62bf.08981","name":"","active":true,"console":"false","complete":"false","x":550,"y":140,"wires":[]},{"id":"16a80824.a52728","type":"comment","z":"d0bc62bf.08981","name":"1 - Connect to TELLO-NNNNNN WiFi","info":"","x":200,"y":80,"wires":[]},{"id":"ad9cafc3.54f15","type":"link in","z":"d0bc62bf.08981","name":"TelloControls-In","links":["92fc8d48.253df"],"x":95,"y":160,"wires":[["941051e5.a490f"]]},{"id":"16939b5c.382e75","type":"udp in","z":"d0bc62bf.08981","name":"","iface":"","port":"52955","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":120,"y":300,"wires":[["ce253aea.8682a8"]]},{"id":"ce253aea.8682a8","type":"debug","z":"d0bc62bf.08981","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":300,"wires":[]},{"id":"d9232e03.52a48","type":"comment","z":"d0bc62bf.08981","name":"Receive Return Strings","info":"","x":140,"y":260,"wires":[]},{"id":"cb435db8.bf426","type":"comment","z":"d0bc62bf.08981","name":"Send Commands","info":"","x":160,"y":120,"wires":[]},{"id":"23e1de63.df67d2","type":"comment","z":"d0bc62bf.08981","name":"================================ Send Commands to drone ==========================","info":"","x":370,"y":40,"wires":[]},{"id":"91a60af2.7854d8","type":"comment","z":"d0bc62bf.08981","name":"================================ Handle incoming messages =========================","info":"","x":370,"y":220,"wires":[]},{"id":"d7acb0cb.fece","type":"inject","z":"d0bc62bf.08981","name":"Land","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":520,"wires":[["f470bf61.9aaa1"]]},{"id":"f7b6cd63.80f2","type":"inject","z":"d0bc62bf.08981","name":"TakeOff","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":560,"wires":[["c55037ca.3fbca8"]]},{"id":"af1b3b1e.5391c8","type":"delay","z":"d0bc62bf.08981","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":600,"wires":[["81e727ab.cc36d8"]]},{"id":"81e727ab.cc36d8","type":"change","z":"d0bc62bf.08981","name":"TakeOff","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"takeoff","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":600,"wires":[["92fc8d48.253df"]]},{"id":"c55037ca.3fbca8","type":"change","z":"d0bc62bf.08981","name":"Init","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"command","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":560,"wires":[["af1b3b1e.5391c8","92fc8d48.253df"]]},{"id":"f470bf61.9aaa1","type":"change","z":"d0bc62bf.08981","name":"Land","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"land","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":520,"wires":[["92fc8d48.253df"]]},{"id":"92fc8d48.253df","type":"link out","z":"d0bc62bf.08981","name":"TelloControls-Out","links":["ad9cafc3.54f15"],"x":715,"y":780,"wires":[]},{"id":"941051e5.a490f","type":"change","z":"d0bc62bf.08981","name":"format outbound message","rules":[{"t":"set","p":"payload","pt":"msg","to":"$exists(payload.tellovalue) ? payload.tellocmd & ' ' & payload.tellovalue : payload.tellocmd","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":160,"wires":[["5dc02afe.fd8094","5ab5c6ee.076c28"]]},{"id":"2d4f2458.1aa81c","type":"change","z":"d0bc62bf.08981","name":"Up 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"up","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":680,"wires":[["92fc8d48.253df"]]},{"id":"23fba336.25189c","type":"change","z":"d0bc62bf.08981","name":"Right 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"right","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":760,"wires":[["92fc8d48.253df"]]},{"id":"f11489ff.4eff08","type":"change","z":"d0bc62bf.08981","name":"Forward 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"forward","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":840,"wires":[["92fc8d48.253df"]]},{"id":"4651b12a.3793a","type":"change","z":"d0bc62bf.08981","name":"Down 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"down","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":720,"wires":[["92fc8d48.253df"]]},{"id":"7ebb762.55bc488","type":"change","z":"d0bc62bf.08981","name":"Left 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"left","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":800,"wires":[["92fc8d48.253df"]]},{"id":"b29c93e6.9ace5","type":"change","z":"d0bc62bf.08981","name":"Back 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"back","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":880,"wires":[["92fc8d48.253df"]]},{"id":"396a8919.028386","type":"change","z":"d0bc62bf.08981","name":"cw 90º","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"cw","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"90","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":920,"wires":[["92fc8d48.253df"]]},{"id":"c2db8e92.98c7a","type":"change","z":"d0bc62bf.08981","name":"ccw 90º","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"ccw","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"90","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":960,"wires":[["92fc8d48.253df"]]},{"id":"266775bc.85b83a","type":"change","z":"d0bc62bf.08981","name":"Flip f","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"flip","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"f","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1040,"wires":[["92fc8d48.253df"]]},{"id":"e5072603.9257c8","type":"inject","z":"d0bc62bf.08981","name":"Up 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":680,"wires":[["2d4f2458.1aa81c"]]},{"id":"d9a9ba35.b96648","type":"inject","z":"d0bc62bf.08981","name":"Down 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":720,"wires":[["4651b12a.3793a"]]},{"id":"f157c79c.0133c8","type":"inject","z":"d0bc62bf.08981","name":"Right 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":760,"wires":[["23fba336.25189c"]]},{"id":"e3c42796.90d8c8","type":"inject","z":"d0bc62bf.08981","name":"Left 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":800,"wires":[["7ebb762.55bc488"]]},{"id":"9e65b91a.4e3b08","type":"inject","z":"d0bc62bf.08981","name":"Forward 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":840,"wires":[["f11489ff.4eff08"]]},{"id":"c5779771.e6f678","type":"inject","z":"d0bc62bf.08981","name":"Back 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":880,"wires":[["b29c93e6.9ace5"]]},{"id":"7197e255.9a2b1c","type":"inject","z":"d0bc62bf.08981","name":"cw 90º","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":920,"wires":[["396a8919.028386"]]},{"id":"695157bb.f9a088","type":"inject","z":"d0bc62bf.08981","name":"Full 360º","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":1000,"wires":[["d1f5a51f.c89d68"]]},{"id":"ffa5efce.c706c","type":"inject","z":"d0bc62bf.08981","name":"Flip forward","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":1040,"wires":[["266775bc.85b83a"]]},{"id":"a19d2c6f.32218","type":"inject","z":"d0bc62bf.08981","name":"ccw 90º","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":960,"wires":[["c2db8e92.98c7a"]]},{"id":"d1f5a51f.c89d68","type":"change","z":"d0bc62bf.08981","name":"cw 360º","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"cw","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"360","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1000,"wires":[["92fc8d48.253df"]]},{"id":"de040f5c.fb784","type":"change","z":"d0bc62bf.08981","name":"Emergency","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"emergency","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":640,"wires":[["92fc8d48.253df"]]},{"id":"6da6f8c5.410398","type":"inject","z":"d0bc62bf.08981","name":"Emergency","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":640,"wires":[["de040f5c.fb784"]]},{"id":"ed634ebd.965e8","type":"ui_button","z":"d0bc62bf.08981","name":"","group":"5a41de9d.6f56d","order":6,"width":0,"height":0,"passthru":false,"label":"Land","color":"","bgcolor":"","icon":"","payload":"land","payloadType":"str","topic":"","x":290,"y":500,"wires":[["f470bf61.9aaa1"]]},{"id":"b937a274.2b71","type":"ui_button","z":"d0bc62bf.08981","name":"","group":"5a41de9d.6f56d","order":4,"width":0,"height":0,"passthru":false,"label":"Takeoff","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":540,"wires":[["c55037ca.3fbca8"]]},{"id":"122b4ab.ebc20b5","type":"ui_button","z":"d0bc62bf.08981","name":"","group":"5a41de9d.6f56d","order":17,"width":0,"height":0,"passthru":false,"label":"Up (50cm)","color":"","bgcolor":"","icon":"fa-arrow-up","payload":"true","payloadType":"bool","topic":"","x":300,"y":660,"wires":[["2d4f2458.1aa81c"]]},{"id":"fe1fce8c.16e8e","type":"ui_button","z":"d0bc62bf.08981","name":"","group":"5a41de9d.6f56d","order":18,"width":0,"height":0,"passthru":false,"label":"Down (50cm)","color":"","bgcolor":"","icon":"fa-arrow-down","payload":"true","payloadType":"bool","topic":"","x":310,"y":700,"wires":[["4651b12a.3793a"]]},{"id":"34336b96.e8a8b4","type":"ui_button","z":"d0bc62bf.08981","name":"","group":"5a41de9d.6f56d","order":19,"width":0,"height":0,"passthru":false,"label":"Right (50cm)","color":"","bgcolor":"","icon":"fa-arrow-right","payload":"true","payloadType":"bool","topic":"","x":310,"y":740,"wires":[["23fba336.25189c"]]},{"id":"78560765.7d38b8","type":"ui_button","z":"d0bc62bf.08981","name":"","group":"5a41de9d.6f56d","order":20,"width":0,"height":0,"passthru":false,"label":"Left (50cm)","color":"","bgcolor":"","icon":"fa-arrow-left","payload":"true","payloadType":"bool","topic":"","x":310,"y":780,"wires":[["7ebb762.55bc488"]]},{"id":"240914d1.b4b2fc","type":"ui_button","z":"d0bc62bf.08981","name":"","group":"5a41de9d.6f56d","order":21,"width":0,"height":0,"passthru":false,"label":"Forward (50cm)","color":"","bgcolor":"","icon":"fa-forward","payload":"true","payloadType":"bool","topic":"","x":320,"y":820,"wires":[["f11489ff.4eff08"]]},{"id":"3bb562d0.99094e","type":"ui_button","z":"d0bc62bf.08981","name":"","group":"5a41de9d.6f56d","order":22,"width":0,"height":0,"passthru":false,"label":"Backward (50cm)","color":"","bgcolor":"","icon":"fa-backward","payload":"true","payloadType":"bool","topic":"","x":330,"y":860,"wires":[["b29c93e6.9ace5"]]},{"id":"86ea6733.255388","type":"ui_button","z":"d0bc62bf.08981","name":"","group":"5a41de9d.6f56d","order":23,"width":0,"height":0,"passthru":false,"label":"Clockwise (90º)","color":"","bgcolor":"","icon":"fa-repeat","payload":"true","payloadType":"bool","topic":"","x":320,"y":900,"wires":[["396a8919.028386"]]},{"id":"ca3c4aee.fbe6e8","type":"ui_button","z":"d0bc62bf.08981","name":"Counter Clockwise","group":"5a41de9d.6f56d","order":24,"width":0,"height":0,"passthru":false,"label":"Anti-Clockwise (90º)","color":"","bgcolor":"","icon":"fa-undo","payload":"true","payloadType":"bool","topic":"","x":330,"y":940,"wires":[["c2db8e92.98c7a"]]},{"id":"2cbfecc1.a70e94","type":"ui_button","z":"d0bc62bf.08981","name":"","group":"5a41de9d.6f56d","order":25,"width":0,"height":0,"passthru":false,"label":"Full Rotation (360º)","color":"","bgcolor":"","icon":"fa-repeat","payload":"true","payloadType":"bool","topic":"","x":330,"y":980,"wires":[["d1f5a51f.c89d68"]]},{"id":"6ebf4711.0a6598","type":"ui_button","z":"d0bc62bf.08981","name":"","group":"5a41de9d.6f56d","order":26,"width":0,"height":0,"passthru":false,"label":"Flip (forward)","color":"","bgcolor":"","icon":"fa-repeat","payload":"true","payloadType":"bool","topic":"","x":310,"y":1020,"wires":[["266775bc.85b83a"]]},{"id":"a661a5c9.1bfc58","type":"ui_button","z":"d0bc62bf.08981","name":"","group":"5a41de9d.6f56d","order":1,"width":0,"height":0,"passthru":false,"label":"Emergency Stop","color":"","bgcolor":"red","icon":"fa-stop-circle","payload":"true","payloadType":"bool","topic":"","x":320,"y":620,"wires":[["de040f5c.fb784"]]},{"id":"acfce8c8.97dfb8","type":"udp in","z":"d0bc62bf.08981","name":"","iface":"","port":"8890","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":120,"y":380,"wires":[["406b7ca3.8437d4"]]},{"id":"bdf5cd6f.13144","type":"debug","z":"d0bc62bf.08981","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":340,"wires":[]},{"id":"406b7ca3.8437d4","type":"delay","z":"d0bc62bf.08981","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":290,"y":380,"wires":[["812230f9.f8dda"]]},{"id":"812230f9.f8dda","type":"change","z":"d0bc62bf.08981","name":"Parse Status into an object","rules":[{"t":"set","p":"payload","pt":"msg","to":" $filter($split($trim($string(payload)), ';'),function($v){$v != ''})\t   {$substringBefore($, ':') : \t        $contains($substringAfter($, ':'), \",\")\t        ? $map($split($substringAfter($, ':'),','),$number)\t        : $number($substringAfter($, ':'))}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[["880188ce.557678","bdf5cd6f.13144"]]},{"id":"6fcd735d.98f18c","type":"comment","z":"d0bc62bf.08981","name":"Open port 8890/udp in Firewall","info":"Open Port 8890/udp in laptop firewall to receive Tello telemetry data.\n\nOn Linux\n$ sudo firewall-cmd --permanent --add-port=8890/udp\n\nTo get the video stream, open port 11111/udp\n$ sudo firewall-cmd --permanent --add-port=11111/udp\n\nOn Mac, use System Preferences to open the ports.\n - Open System Preferences > Security & Privacy > Firewall > Firewall Options\n - Click the + / Add button\n - Choose 'node' application from the Applications folder and click Add.\n - Ensure that the option next to the application is set to Allow incoming connections.\n - Click OK.","x":160,"y":340,"wires":[]},{"id":"880188ce.557678","type":"link out","z":"d0bc62bf.08981","name":"STATUS-parsed","links":["bebb0fa2.9dc588","10bf4fef.d6d02"],"x":715,"y":380,"wires":[]},{"id":"10bf4fef.d6d02","type":"link in","z":"d0bc62bf.08981","name":"","links":["a96f756b.a69d18","880188ce.557678"],"x":795,"y":780,"wires":[["fb2072f.096699","47063fe0.cf7a3","ef0b1f20.4bc13","7eda1658.664ca8","f3a2144e.9837d8","ed303908.0e57b8","ccbb96be.d724a8","18a19378.c266bd","bf09be41.9d80c","453f7477.6cd13c","1017dbd5.32c1f4"]]},{"id":"fb2072f.096699","type":"change","z":"d0bc62bf.08981","name":"battery percentage","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.bat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":560,"wires":[["8f1d5d20.91176"]]},{"id":"8f1d5d20.91176","type":"ui_gauge","z":"d0bc62bf.08981","name":"","group":"79b18bcf.590f54","order":1,"width":0,"height":0,"gtype":"gage","title":"Battery","label":"Battery","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":1150,"y":560,"wires":[]},{"id":"38107972.46b596","type":"ui_gauge","z":"d0bc62bf.08981","name":"","group":"79b18bcf.590f54","order":3,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"Cº","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1150,"y":640,"wires":[]},{"id":"47063fe0.cf7a3","type":"change","z":"d0bc62bf.08981","name":"fly time","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":600,"wires":[["9fb46141.01222"]]},{"id":"ef0b1f20.4bc13","type":"change","z":"d0bc62bf.08981","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temph","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":640,"wires":[["38107972.46b596"]]},{"id":"87140e5e.abe13","type":"ui_gauge","z":"d0bc62bf.08981","name":"","group":"5b3b74f2.3b250c","order":1,"width":0,"height":0,"gtype":"gage","title":"Accel X","label":"cm/sec2","format":"{{value}}","min":"-100","max":"100","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1160,"y":760,"wires":[]},{"id":"6a456c05.4a4d34","type":"ui_gauge","z":"d0bc62bf.08981","name":"","group":"5b3b74f2.3b250c","order":2,"width":0,"height":0,"gtype":"gage","title":"Accel Y","label":"cm/sec2","format":"{{value}}","min":"-100","max":"100","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1160,"y":800,"wires":[]},{"id":"b13b70b9.238d3","type":"ui_gauge","z":"d0bc62bf.08981","name":"","group":"5b3b74f2.3b250c","order":3,"width":0,"height":0,"gtype":"gage","title":"Accel Z","label":"cm/sec2","format":"{{value}}","min":"-100","max":"100","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1160,"y":840,"wires":[]},{"id":"27eb79fa.022626","type":"ui_gauge","z":"d0bc62bf.08981","name":"","group":"dfad4bfa.6f9dd8","order":2,"width":0,"height":0,"gtype":"gage","title":"Speed Y","label":"cm/sec","format":"{{value}}","min":"-100","max":"100","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1160,"y":920,"wires":[]},{"id":"5ec84990.d14f18","type":"ui_gauge","z":"d0bc62bf.08981","name":"","group":"dfad4bfa.6f9dd8","order":3,"width":0,"height":0,"gtype":"gage","title":"Speed Z","label":"cm/sec","format":"{{value}}","min":"-100","max":"100","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1160,"y":960,"wires":[]},{"id":"c16ffd70.d8733","type":"ui_gauge","z":"d0bc62bf.08981","name":"","group":"dfad4bfa.6f9dd8","order":1,"width":0,"height":0,"gtype":"gage","title":"Speed X","label":"cm/sec","format":"{{value}}","min":"-100","max":"100","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1160,"y":880,"wires":[]},{"id":"bf09be41.9d80c","type":"change","z":"d0bc62bf.08981","name":"Ground Speed X","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vgx","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":880,"wires":[["c16ffd70.d8733"]]},{"id":"453f7477.6cd13c","type":"change","z":"d0bc62bf.08981","name":"Ground Speed y","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vgy","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":920,"wires":[["27eb79fa.022626"]]},{"id":"1017dbd5.32c1f4","type":"change","z":"d0bc62bf.08981","name":"Ground Speed z","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vgz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":960,"wires":[["5ec84990.d14f18"]]},{"id":"7eda1658.664ca8","type":"change","z":"d0bc62bf.08981","name":"Height","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.h","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":680,"wires":[["6922800b.0063d"]]},{"id":"ed303908.0e57b8","type":"change","z":"d0bc62bf.08981","name":"Accel X","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.agx","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":760,"wires":[["87140e5e.abe13"]]},{"id":"ccbb96be.d724a8","type":"change","z":"d0bc62bf.08981","name":"Accel Y","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.agy","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":800,"wires":[["6a456c05.4a4d34"]]},{"id":"18a19378.c266bd","type":"change","z":"d0bc62bf.08981","name":"Accel Z","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.agz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":840,"wires":[["b13b70b9.238d3"]]},{"id":"cc460180.f1c4","type":"ui_gauge","z":"d0bc62bf.08981","name":"","group":"79b18bcf.590f54","order":4,"width":0,"height":0,"gtype":"gage","title":"Barometer","label":"millibars","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1160,"y":720,"wires":[]},{"id":"f3a2144e.9837d8","type":"change","z":"d0bc62bf.08981","name":"Barometer","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.baro","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":720,"wires":[["cc460180.f1c4"]]},{"id":"9fb46141.01222","type":"ui_text","z":"d0bc62bf.08981","group":"5b3b74f2.3b250c","order":4,"width":0,"height":0,"name":"","label":"Flight Time:","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":600,"wires":[]},{"id":"6922800b.0063d","type":"ui_chart","z":"d0bc62bf.08981","name":"","group":"79b18bcf.590f54","order":2,"width":0,"height":0,"label":"Height","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1150,"y":680,"wires":[[],[]]},{"id":"b632a481.924a88","type":"comment","z":"d0bc62bf.08981","name":"================================ Send Tello SDK Commands =========================","info":"For a list of Tello SDK commands, visit\nhttps://dl-cdn.ryzerobotics.com/downloads/Tello/Tello%20SDK%202.0%20User%20Guide.pdf","x":370,"y":420,"wires":[]},{"id":"5a41de9d.6f56d","type":"ui_group","z":"","name":"Control","tab":"88941c18.7c2eb","order":5,"disp":true,"width":"4","collapse":false},{"id":"79b18bcf.590f54","type":"ui_group","z":"","name":"Stats","tab":"88941c18.7c2eb","order":2,"disp":true,"width":"6","collapse":false},{"id":"5b3b74f2.3b250c","type":"ui_group","z":"","name":"Accel","tab":"88941c18.7c2eb","order":3,"disp":true,"width":"6","collapse":false},{"id":"dfad4bfa.6f9dd8","type":"ui_group","z":"","name":"Movement","tab":"88941c18.7c2eb","order":4,"disp":true,"width":"6","collapse":false},{"id":"88941c18.7c2eb","type":"ui_tab","z":"","name":"Tello Telemetry","icon":"fa-tachometer","order":3}]